<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head><section class="about">
     <section class="row-1">
    <div>
      <img src="/images/image-6.png" alt="about me">
    </div>
    <div>
      <h3>About me</h3>
      <p>My name is Twisha Chachra. I am an aspiring computer programmer. I am a semester 4 student at georgian college. I am dediacated towards my studies. I received dean's list for my 3 academic semesters. I enjoy playing around with web developing languages. </p>
    </div>
  </section>
  <section class="row-2">
    <div>
    <h4>Educational Qualifications</h4>
  <p>Some of the languages I've been taught are:</p>
    <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>Java</li>
        <li>SQL</li>
        <li>ASP.NET</li>

    </ul> 
  </div>
    <div>
      <img src="/images/image-7.png" alt="languages">
    </div>
    </section>
    </section>