 <section class="sec-4">

  <h1>GET IN TOUCH</h1>

  <div class=" col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 " style="font-size:20px;float:left;display:flex" >
           
    <p><i class="fas fa-home mr-3 text-white me-4"></i> Georgian College</p>
    <a  href = "mailto: twishachachra@gmail.com"><i class="fas fa-envelope mr-3 text-white me-4"></i> Email Id</a>
    <p><i class="fas fa-phone mr-3 text-white me-4"></i>+011234567890</p>
    <a href="https://www.linkedin.com/in/twisha-chachra-a29a85216/" >
      <i class="fab fa-linkedin text-white me-4"></i>Linkedin Profile
    </a>
    <a href="https://github.com/TwishaChachra?tab=repositories" >
      <i class="fab fa-github text-white me-4"></i>Github Profile
    </a>

  </div>

  </section>

   