   <meta name="viewport" content="width=device-width, initial-scale=1">
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script type="text/javascript" src="/javascripts/design.js"></script>

<section class="sec-3">
  <section class="slider-container">
          <div class="slideshow-container">
            <div class="designSlides" style="display: block">
              <img src="/images/image-11.png" alt="Showsatron-ASP.NET">
            </div>
            <div class="designSlides">
              <img src="/images/image-12.png" alt="API-Java">
            </div>
            <div class="designSlides">
              <img src="/images/image-5.jpeg" alt="Languages">
            </div>
            <!--the two buttons forward and backward-->
            <a class="backward" onclick="nextSlides(-1,0)">&#10094;</a>
            <a class="forward" onclick="nextSlides(1,0)">&#10095;</a>
          </div>
        </section> 


<section class="project">
     <h1>Links To Some Of My Works</h1>
     <div class="row">
       <div class="project-col">
         <img src="/images/image-14.jpeg" alt="ASP.NET MVC">
         
       <a href="https://github.com/TwishaChachra/Showsatron"> Github link to my Showsatron website - Developed using ASP.NET
           
        </a> 
         </div>
         <div class="project-col">
           <img src="/images/image-10.jpeg" alt="API JAVA">
          <a href="https://github.com/TwishaChachra/API-JAVA"> Github link to my API website - Developed using JAVA
           
        </a> 
           </div>
          
     </div>
   </section> 
</section>
