body {

  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0px;
  border: 2px solid black;
  height: 100vh;
  background: #614fb7;

}

a {
  color: #00B7FF;
}
.home-section{
  height: 44.5%;
   width:100%;
  background-image: linear-gradient(rgb(168, 171, 195),rgba(5,8,32,0.5)),url(/images/image-1.jpeg);
  background-position: center;
  background-size: cover; 
}
#profile {
  width: 300px;
  float: left;    
   margin: 0 15px 0 0;
   margin-left:90px;
   margin-top: 84px;
   margin-right: 190px;
 


  }
#right{
  padding: 4%;
}
#right h2{
  font-size: 42px;
  font-weight: 900;

}
#right p{
  font-size: 23px;
  margin-top: 30px;

}

.sec-2 button{
background-color: silver;
color: black;
 padding: 15px 20px;
}
.sec-2 button:hover {
  background-color:#3B3B3B; 
  color: white;
}

.row-1 p{
  font-size: 12px;
}
.row-2 p{
  font-size: 12px;
}
h3{
 text-align: center;

}
h4{
  text-align: center;

}
.row-1, .row-2{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.row-1 h3{
  color: rgb(193, 225, 236);
  font-size: 45px;
  margin-top: 0px;
}
.row-1 p{
  margin-left: 20px;
  color: #fff;
  font-size: 20px;

}
.row-2 h4{
  font-size: 35px;
  color: rgb(193, 225, 236);
  margin-top: 0;

}
.row-2 p{
  margin-left: 20px;
  color: #fff;
  font-size: 16px;

}
.row-2 ul{
  margin-top: 0;
  color: #fff;
  font-size: 16px;

}
.row-1 div img{
  width: 100%;
  height: 175px;
}
.row-1 img{
  opacity:0.7;
}
.row-2 img{
  opacity:0.7;

}
.row-2 div img{
  width: 100%;
  height: 175px;
}
.about{
  height: 44.5%;
}
.sec-3{
  height: 44.5%;
}
.project{
  width: 100%;
  margin: 0px;
  text-align: center;
  padding-top: 0;
  font-size: 16px;
}
.project h1{
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 0px;
  padding: 0;
  color: rgb(166, 244, 239);
  
}
.project-col{
  margin-top: 10px;
  flex-basis: 48%;
  border-radius: 10px;
  margin-left: 10px;
  text-align: left;

}
.project-col img{
  display: inline-block;
  width: 30%;
  border-radius: 10px;
}
.project-col a{
  font-size: 13px;
}
.project-col p{
  padding: 0;
  font-size: 12px;

}
.designSlides{
  display:none;
}  
.designSlides img{
 vertical-align: middle;
}
.slideshow-container {
 max-width: 100%;
 position: relative;
 margin: auto;
}
.slideshow-container .designSlides img{
 width: 100%;
 height: 180px; 
}
.backward, .forward{
width: auto;
cursor: pointer;
position:absolute;
 top: 5%;  
padding: 16px;
margin-top: -22px;  
color: #fff;
font-weight: bold;
font-size: 39px;
transition: 0.5s ease;
border-radius: 0 4px 4px 0;
user-select: none;
}
.forward{
 right:0;
 border-radius: 4px 0px 0px 4px;
}
.backward:hover, .forward:hover{
 background-color: #b6ce9f;
 color:#fff;
}
.project-col p {
  float: right;
 }
 a {
  color: #00fffb;
}
a:hover{
  color:white;
}
.sec-4 {
  height:44.5%;
 
}

.sec-4 h1{
text-align: center;
color: #fff;
padding: 10px;
font-weight: 900;
}

.sec-4 i.fas{

  font-size: 20px;
  padding: 20px;
  background: none;
  cursor:pointer;
  border:2px solid rgb(190,190,190);
}
.sec-4 i.fab{
  font-size: 20px;
  padding: 20px;
  background: none;
  cursor:pointer;
  border:2px solid rgb(190,190,190);
}

 .sec-4 p{
  padding: 10% 25% 5% 25%;
  text-align: center;
}
.sec-4 a {
  padding: 10% 25% 5% 25%;
  color: lightblue;
} 
.sec-4 a:hover{
  color: rgb(43, 19, 219);
}


